---
import { getEntries } from "astro:content";

import Card from "@components/card.astro"
import ClientLoadingItemCard from "./clientLoadingItemCard.svelte"


const { collection, fullHeight } = Astro.props;
const items = await getEntries(collection.data.items);

let featuredItem = items.filter(function(i) {
  return i.id === collection.data.featured.id
})[0];

const link = `/item-collections/${collection.id}`

---
<a href={link}>
<Card>
    <ClientLoadingItemCard title={collection.data.title} fullHeight={fullHeight} record={featuredItem} client:only="svelte" />
</Card>
</a>

