---
import { getEntry } from "astro:content";

import Card from "@components/card.astro"
import ClientLoadingItemCard from "@components/itemCard/clientLoadingItemCard.svelte"

export interface Props {
    "id": string;
    "fullHeight": boolean;
    data?: object;
}

const { id, fullHeight, data } = Astro.props;
const link = `/items/${id}`

---
<a href={link} class="no-underline not-prose font-sans">
<Card>
    <ClientLoadingItemCard record={id} fullHeight={fullHeight} client:only="svelte" />
    <!-- <div class="p-2" set:html={tags}> -->
</Card>
</a>

