---
import IiifViewer from "@components/iiifViewer/iiifViewer.astro";

const { identifier } = Astro.props;

const commId = identifier.replace("--", ":");
const digitalCommonwealthResponse = await fetch(
  `https://www.digitalcommonwealth.org/search/${commId}.json`
);
const digitalCommonwealthData = await digitalCommonwealthResponse.json();

const collectionsUrl = `https://www.digitalcommonwealth.org/search/${commId}/`;
const manifestUrl = `https://www.digitalcommonwealth.org/search/${commId}/manifest.json`;
---

<div class="py-4">
  <div class="mb-3">
    <span
      class="inline-flex items-center rounded-md bg-purple-100 px-2 py-1 text-sm font-medium text-purple-700"
      >Collection Item</span
    >
  </div>
  <h1 class="text-4xl mb-6 font-bold font-serif">
    {digitalCommonwealthData.data.attributes.title_info_primary_tsi}
  </h1>
</div>

<IiifViewer iiifType="manifest" endpointUrl={manifestUrl} />

<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-6 sm:px-6">
    <h3 class="text-base font-semibold leading-7 text-gray-900">About this object</h3>
  </div>
  <div class="border-t border-gray-100">
    <div class="p-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>
  </div>
</div>


<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-6 sm:px-6">
    <h3 class="text-base font-semibold leading-7 text-gray-900">Metadata</h3>
  </div>
  <div class="border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Title</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{digitalCommonwealthData.data.attributes.title_info_primary_tsi}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Date</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{digitalCommonwealthData.data.attributes.date_tsim}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Creators</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{digitalCommonwealthData.data.attributes.name_tsim.join("; ")}</dd>
      </div>
    </dl>
  </div>
</div>

<div>
  <a
    href={collectionsUrl}
    target="_blank"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >Visit this object's record on Digital Commonwealth</a
  >
</div>
